services:
  api:
    extends:
      file: docker-compose.prod.yml
      service: api
    image: fast-pin-pon-api-dev
    container_name: fast-pin-pon-api
    build:
      context: api/
      dockerfile: Dockerfile
    env_file:
      - .env.example
      - .env
    environment:
      - ENGINE_CALLBACK_URL=http://engine:8081
    ports:
      - "8081:8080"

  postgres:
    extends:
      file: docker-compose.prod.yml
      service: postgres
    container_name: fast-pin-pon-postgres
    ports:
      - "5432:5432"

  front:
    extends:
      file: docker-compose.prod.yml
      service: front
    image: fast-pin-pon-front-dev
    container_name: fast-pin-pon-front
    build:
      context: front/
      dockerfile: Dockerfile
      args:
        MAP_TILE_URL: "http://localhost:8080/maps/lyon/{z}/{x}/{y}.pbf"
        API_BASE_URL: "http://localhost:8081/v1"
        KEYCLOAK_URL: "http://localhost:8082"
    ports:
      - "8080:8080"

  simulation:
    extends:
      file: docker-compose.prod.yml
      service: simulation
    image: fast-pin-pon-simulation-dev
    container_name: fast-pin-pon-simulation
    build:
      context: ./simulation
      dockerfile: Dockerfile
    depends_on:
      api:
        condition: service_healthy
    restart: on-failure
    environment:
      - API_BASE_URL=https://api.fast-pin-pon.4loop.org
      - SIMULATION_UPDATING_ENABLED=false
    ports:
      - "8090:8090"

  incidentCreation:
    extends:
      file: docker-compose.prod.yml
      service: incidentCreation
    image: fast-pin-pon-incident-creation-dev
    container_name: fast-pin-pon-incident-creation
    build:
      context: ./incidentCreation
      dockerfile: Dockerfile
    depends_on:
      - api
    environment:
      - API_BASE_URL=http://api:8080
      - INCIDENT_INTERVAL_SECONDS=60
  engine:
    image: fast-pin-pon-engine-dev
    container_name: fast-pin-pon-engine
    build:
      context: ./engine
      dockerfile: Dockerfile
    ports:
      - "8083:8081"

  maptiler-server:
    extends:
      file: docker-compose.prod.yml
      service: maptiler-server
    image: maptiler-server-dev
    container_name: fast-pin-pon-map
    build:
      context: ./maptiler
      dockerfile: Dockerfile
    ports:
      - "3650:8080"

  keycloak_web:
    extends:
      file: docker-compose.prod.yml
      service: keycloak_web
    image: keycloak-web-dev
    container_name: fast-pin-pon-keycloak
    build:
      context: ./infra/keycloak
      dockerfile: Dockerfile
      args:
        - GRAFANA_URL=http://localhost:3000
    environment:
      - KC_HOSTNAME=localhost
      - KC_HOSTNAME_PORT=8082

  keycloakdb:
    extends:
      file: docker-compose.prod.yml
      service: keycloakdb
    container_name: fast-pin-pon-keycloak-db

  grafana:
    extends:
      file: docker-compose.prod.yml
      service: grafana
    image: grafana-dev
    container_name: fast-pin-pon-grafana
    build:
      context: ./infra/grafana
      dockerfile: Dockerfile
    profiles: ["monitoring"]
    environment:
      GF_SERVER_ROOT_URL: http://localhost:3000
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: http://localhost:8082/realms/sdmis-realm/protocol/openid-connect/auth
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: http://fast-pin-pon-keycloak:8080/realms/sdmis-realm/protocol/openid-connect/token
      GF_AUTH_GENERIC_OAUTH_API_URL: http://fast-pin-pon-keycloak:8080/realms/sdmis-realm/protocol/openid-connect/userinfo
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /var/lib/grafana/dashboards/api-http.json
    ports:
      - "3000:3000"

  loki:
    extends:
      file: docker-compose.prod.yml
      service: loki
    image: loki-dev
    container_name: fast-pin-pon-loki
    build:
      context: ./infra/loki
      dockerfile: Dockerfile
    profiles: ["monitoring"]

  promtail:
    extends:
      file: docker-compose.prod.yml
      service: promtail
    image: promtail-dev
    container_name: fast-pin-pon-promtail
    build:
      context: ./infra/promtail
      dockerfile: Dockerfile
    profiles: ["monitoring"]

  prometheus:
    image: prometheus-dev
    container_name: fast-pin-pon-prometheus
    build:
      context: ./infra/prometheus
      dockerfile: Dockerfile
    profiles: ["monitoring"]
    ports:
      - "9090:9090"

networks:
  internal: {}
  internal-keycloak: {}
  internal-grafana: {}
  default: {}

volumes:
  postgres-data: {}
  kc-db-data: {}
  loki-data: {}
  logs: {}


