include:
  - docker-compose.prod.yml

services:
  api:
    build:
      context: api/
      dockerfile: Dockerfile
    env_file:
      - .env.example
      - .env
    ports:
      - "8081:8080"

  front:
    build:
      context: front/
      dockerfile: Dockerfile
      args:
        MAP_TILE_URL: "http://localhost:8080/maps/lyon/{z}/{x}/{y}.pbf"
    ports:
      - "8080:8080"

  maptiler-server:
    build:
      context: ./maptiler
      dockerfile: Dockerfile
    ports:
      - "3650:8080"

  keycloak_web:
    build:
      context: ./infra/keycloak
      dockerfile: Dockerfile
      args:
        - GRAFANA_URL=http://localhost:3000

  grafana:
    build:
      context: ./infra/grafana
      dockerfile: Dockerfile
    ports:
      - "3000:3000"

  loki:
    build:
      context: ./infra/loki
      dockerfile: Dockerfile
  
  promtail:
    build:
      context: ./infra/promtail
      dockerfile: Dockerfile
