include:
  - docker-compose.prod.yml

services:
  api:
    image: fast-pin-pon-api-dev
    build:
      context: api/
      dockerfile: Dockerfile
    env_file:
      - .env.example
      - .env
    ports:
      - "8081:8080"

  front:
    image: fast-pin-pon-front-dev
    build:
      context: front/
      dockerfile: Dockerfile
      args:
        MAP_TILE_URL: "http://localhost:8080/maps/lyon/{z}/{x}/{y}.pbf"
    ports:
      - "8080:8080"

  simulation:
    image: fast-pin-pon-simulation-dev
    build:
      context: ./simulation
      dockerfile: Dockerfile
    depends_on:
      - api
    environment:
      - API_BASE_URL=http://api:8080

  maptiler-server:
    image: maptiler-server-dev
    build:
      context: ./maptiler
      dockerfile: Dockerfile
    ports:
      - "3650:8080"

  keycloak_web:
    image: keycloak-web-dev
    build:
      context: ./infra/keycloak
      dockerfile: Dockerfile
      args:
        - GRAFANA_URL=http://localhost:3000

  grafana:
    image: grafana-dev
    build:
      context: ./infra/grafana
      dockerfile: Dockerfile
    profiles: ["monitoring"]
    ports:
      - "3000:3000"

  loki:
    image: loki-dev
    build:
      context: ./infra/loki
      dockerfile: Dockerfile
    profiles: ["monitoring"]
  
  promtail:
    image: promtail-dev
    build:
      context: ./infra/promtail
      dockerfile: Dockerfile
    profiles: ["monitoring"]

