server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/log/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker
          __path__: /var/lib/docker/containers/*/*.log
  - job_name: api
    static_configs:
      - targets:
          - localhost
        labels:
          job: api
          app: fast-pin-pon-api
          __path__: /var/log/fast-pin-pon/*.log