name: Build Grafana Docker Image
on:
  push:
    branches:
      - main
    paths:
      - 'infra/grafana/**'
      - '.github/workflows/bp-grafana.yml'
  pull_request:
    branches:
      - main
      - '**'
    paths:
      - 'infra/grafana/**'
      - '.github/workflows/bp-grafana.yml'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  FOLDER: infra/grafana
  PUSH_EVENT: ${{ github.event_name == 'push' }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.FOLDER }}
    permissions:
      contents: read
      packages: write
      security-events: write
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Container Registry
        if: ${{ env.PUSH_EVENT == 'true' }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ env.FOLDER }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,format=short,prefix=sha-
            type=raw,value=latest,enable={{is_default_branch}}
      
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ env.FOLDER }}
          file: ./${{ env.FOLDER }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ env.PUSH_EVENT == 'true' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max